.localhistory/*
# User-specific files
*.suo
*.user
*.sln.docstates
TestResults

#profiling sessions
*.psess
*.vspx
*.vsp


# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
packages/
.vscode/
.vs/

# git  shit
*.orig

dotnet.psess
